.img-wrapper {
  position: relative;
  background-color: #555;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 20;
    opacity: 0;
    animation: white-pulse 2s infinite;
  }
  &.loaded::before {
    animation: none;
  }

  .image {
    min-height: 200px;
    display: block;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 1s;

    &.loaded {
      opacity: 1;
    }
  }
}

@keyframes white-pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
  }
}
