.diagonal-box {
  //   background-image: linear-gradient(45deg, #6303b1, #ff0099);
  transform: skewY(-11deg);

  .content {
    border: 1px dashed;
    max-width: 50em;
    margin: 0 auto;
    transform: skewY(11deg);
  }
}
