@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-size: min(calc(2vw + 6px), 18px);
  /* overflow-x: hidden; */
}

.h1-text {
  font-size: min(calc(4vw + 16px), 4rem);
  font-weight: bold;
}

.h2-text {
  font-size: min(calc(4vw + 12px), 3rem);
  font-weight: bold;
}
