@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.h1-text {
  font-size: 3rem;
  font-weight: bold;
}

.h2-text {
  font-size: 2rem;
  font-weight: bold;
}

.h3-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.h4-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.h5-text {
  font-size: 1rem;
  font-weight: bold;
}

